################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/OP-20-21-320v_22/v16/ipch/AutoPCH/e66c9a307fa10519
/.vs/OP-20-21-320v_22/v16/Browse.VC.db
/.vs/OP-20-21-320v_22/v16/Browse.VC.db-shm
/.vs/OP-20-21-320v_22/v16/Browse.VC.db-wal
/.vs/OP-20-21-320v_22/v16/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/OP-20-21-320v_22/v16
/.vs/VSWorkspaceState.json
/lab5var9/lab5b/lab5b/.vs/lab5b/v16/ipch/AutoPCH/4dccbb25475aa22c
/lab5var9/lab5b/lab5b/.vs/lab5b/v16/ipch/AutoPCH/cf43da93ae4b7911
/lab5var9/lab5b/lab5b/.vs/lab5b/v16/.suo
/lab5var9/lab5b/lab5b/.vs/lab5b/v16/Browse.VC.db
/lab5var9/lab5b/lab5b/.vs/lab5b/v16/Browse.VC.db-shm
/lab5var9/lab5b/lab5b/.vs/lab5b/v16/Browse.VC.db-wal
/lab5var9/lab5b/lab5b/.vs/lab5b/v16/Browse.VC.opendb
/lab5var9/lab5b/lab5b/Debug
