################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/OP-20-21-320v_22/v16/ipch/AutoPCH/e66c9a307fa10519
